{% include 'base.html.twig' %}
<main id="main" class="main">
{% block body %}
<div class="card">
      <img class="card-image" src="{{asset('assets/img/dash.png')}}"  height="600px"> 
  </div>
{% endblock %}
</main><!-- End #main -->
