{% form_theme f 'bootstrap_5_layout.html.twig' %}
{% include 'base.html.twig' %}
<main id="main" class="main">
{% block body %}
    <div class="pagetitle">
      <h1>Ajouter un Niveau</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Niveau</li>
          <li class="breadcrumb-item active">Ajouter</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Les détails</h5>
              {{ form_start(f) }}
                <div class="row">
                  <div class="col-lg-6">
                  {{form_row(f.libelleN, { 'label': 'Libellé du niveau'})}}
                  {{form_row(f.Filiere, { 'label': 'La filiere concernée'})}}
                  </div>
                  <div class="col-lg-6">
                  </div>
                </div>
              {{ form_end(f) }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  {% endblock %}